@import "http://fonts.fontstorage.com/import/marta.css";
@import "/css/variables.css"

/* Общин стили */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

a {
    color: var(--blue);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}
