@import "http://fonts.fontstorage.com/import/marta.css";
@import "/css/variables.css"

/* Общин стили */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    font-family: 'marta';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

a {
    color: var(--blue);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

/* Меню навигации внутри раздела */

.new-test-nav {
    z-index: 101;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 0px;
    padding-left: calc(var(--column) * 6);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
}

.new-test-nav li {
    list-style: none;
    display: inline-block;
    opacity: 1;
    min-width: calc(var(--column) * 3);
    text-align: center;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.new-test-nav li:hover {
    opacity: 1;
}

.new-test-nav li:last-child{
    padding-left: 40px;
}

.new-test-nav li a {
    font-weight: bold;
    display: block;
    /* border: 2px solid var(--blue); */
    border-radius: 3px;
    background-color: var(--blue);
    color: #fff;
    padding: 10px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.new-test-nav li a:hover {
    -webkit-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
}
