@import "http://fonts.fontstorage.com/import/marta.css";
@import "/css/variables.css"

/* Общин стили */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: var(--blue);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}
