:root {
    font-family: 'Marta';
    font-size: 16px;
    line-height: 1.4;
    --blue: #092E64;
    --purple: #656695;
    --darkpurple: #313149;
    --marine: #3493A8;
    --yellow: #EFDA7B;
    --green: #9DBE87;
    --red: #c74545;
    --column: calc(100vw / 24);
    --row: calc(100vh / 12);
    --column-mobile: calc(100vw / 12);
    --row-mobile: calc(100vh / 24);
}
